{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
<main class="content">
	<div class="container-fluid p-0">
		<h1 class="h3 mb-3">About Item add</h1>
		<form action="{% url 'cre-abt-item' %}" method="post" enctype="multipart/form-data">
			<div class="row mb-5">
				{% csrf_token %}
				<div class="col-xl-2">
					<input type="text" name="text_ru" class="form-control" required placeholder="text ru">
				</div>
				<div class="col-xl-2">
					<input type="text" name="text_uz" class="form-control" required placeholder="text uz">
				</div>
				<div class="col-xl-2">
					<input type="file" name="image" required>
				</div>
				<div class="col-xl-2">
					<button class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>
<div class="row">
	<div class="col-12 col-lg-12 d-flex">
		<div class="card flex-fill w-100">
			<div class="card-header">
				<span class="badge badge-danger float-right">All Items</span>
				<table id="all" class="table mb-0">
					<h2>Items</h2>
					<br>
					<thead>
					<tr>
						<th>text_ru</th>
						<th>text_uz</th>
						<th>image</th>
						<th>delete</th>
					</tr>
					</thead>
					<tbody>
					{% for i in project %}
					<tr>
						<td>{{ i.text_ru}}</td>
						<td>{{ i.text_uz }}</td>
						<td><img src="{{ i.image.url }}" weight="70px" height="80px"></td>
						<td><button type="button" class="btn danger" data-toggle="modal" data-target="#deleteModal{{i.id}}"><i class="fas fa-trash"></i></button></td>
							 <div class="modal modal-colored modal-warning fade" id="deleteModal{{i.id}}" tabindex="-1" role="dialog" aria-hidden="true">
								 <div class="modal-dialog" role="document">
									 <div class="modal-content">
										 <div class="modal-header">
											 <h5 class="modal-title">Delete modal</h5>
											 <div class="modal-footer">
												 <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
												 <input type="hidden" name="modal_id" value="{{ i.id }}">
												 <button class="btn btn-danger"><a href="{% url 'delete-about-item' i.pk %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>Delete</button>
											 </div>
										 </div>
									 </div>
								 </div>
							 </div>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-12 col-lg-12 d-flex">
		<div class="card flex-fill w-100">
			<div class="card-header">
				<span class="badge badge-success float-right">Active Items</span>
				<table id="active" class="table mb-0">
					<h2>Active Items</h2>
					<br>
					<thead>
					<tr>
						<th>image</th>
						<th>text_ru</th>
						<th>text_uz</th>
						<th>edit</th>
						<th>delete</th>
					</tr>
					</thead>
					<tbody>
					{% for i in active %}
					<tr>
						<td><img src="{{ i.image.url }}" weight="70px" height="80px"></td>
						<td>{{ i.text_ru}}</td>
						<td>{{ i.text_uz }}</td>
						<td><a href="{% url 'update-about-item' i.pk %}" class="btn btn-warning"><i class="fas fa-edit"></i></a></td>
						<td><button type="button" class="btn danger" data-toggle="modal" data-target="#deletingModal{{i.id}}"><i class="fas fa-trash"></i></button></td>
						<div class="modal modal-colored modal-warning fade" id="deletingModal{{i.id}}" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Delete modal</h5>
										<div class="modal-footer">
											<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
											<input type="hidden" name="modal_id" value="{{ i.id }}">
											<button class="btn btn-danger"><a href="{% url 'delete-about-item' i.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>Delete</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
	</div>
</main>
{% endif %}
{% endblock content %}
