{% extends 'base.html' %}
{% block content %}
{% load static %}
<main class="content">
	{% if s_num < 0 %}
	<button type="button" class="btn btn-success float-right mt-n1" data-toggle="modal" data-target="#centeredModalPrimary"><i class="fas fa-plus"></i> Titles</button>
	<div class="modal fade" id="centeredModalPrimary" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Create new title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<form action="{% url 'create-ab-tit' %}" method="post">
					{% csrf_token %}
					<div class="row" style="padding:10px;">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" name="title_ru" class="form-control" placeholder="title ru" required>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" name="title_uz" class="form-control" placeholder="title uz" required>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% endif %}

	<div class="container-fluid p-0">
		<h1 class="h3 mb-3">About Titles</h1>
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-header">
						<div class="row">
							{% for i in titles %}
							<div class="col-12">
								<div style="background-color: #EFE7E7;" class="card mb-3">
									<div class="row g-0">
										<div class="col-md-4"style="margin-top:20px;">
											<div class="card-body">
												<p class="h4">{{ i.title_ru }}</p>
											</div>
										</div>
										<div class="col-md-4" style="margin-top:20px;">
											<div class="card-body">
												<p class="h4">{{ i.title_uz }}</p>
											</div>
										</div>
									</div>
										<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#coloredModal{{i.id}}"><i class="fas fa-edit"></i></button>
										<div class="modal modal-colored modal-warning fade" id="coloredModal{{i.id}}" tabindex="-1" role="dialog" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">Colored modal</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													</div>
													<form action="{% url 'upd-ab-tit' i.id %}" method="post">
														{% csrf_token %}
														<div class="row" style="padding:10px;">
															<div class="col-md-4">
																<div class="form-group">
																	<input type="text" name="title_ru" class="form-control" value="{{i.title_ru}}" required>
																</div>
															</div>
															<div class="col-md-4">
																<div class="form-group">
																	<input type="text" name="title_uz" class="form-control" value="{{i.title_uz}}" required>
																</div>
															</div>

														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
															<input type="hidden" name="modal_id" value="{{ i.id }}">
															<button type="submit" class="btn btn-light">Save changes</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
</main>
{% endblock content %}

{% block script %}
	<script>
		$(function() {
			// Datatables clients
			$("#datatables-clients").DataTable({
				responsive: true,
				order: [
					[1, "asc"]
				]
			});
		});
	</script>
{% endblock script %}
