{% extends 'base.html' %}
{% block content %}
			<main class="content">
				<div class="container-fluid p-0">
					<h1 class="h3 mb-3">Task</h1>
					{% if list_num < 9 %}
					<form action="{% url 'create-task' %}" method="post">
						<div class="row mb-5">
							{% csrf_token %}
							<div class="col-xl-2">
								<input type="number" name="number" class="form-control" required placeholder="number">
							</div>
							<div class="col-xl-2">
								<input type="text" name="requirements_ru" class="form-control" required placeholder="requirements_ru">
							</div>
							<div class="col-xl-2">
								<input type="text" name="requirements_uz" class="form-control" required placeholder="requirements_uz">
							</div>
							<div class="col-xl-2">
								<button class="btn btn-primary">Save</button>
							</div>
						</div>
					</form>
					{% else %}
					<h1>you can't add tasks anymore, try to change</h1>
					{% endif %}
					{% if messages %}
					<div id="message_container" class="row" style="position: absolute; top: 150px; right: 720px; z-index: 999999999; width: 15%!important; margin: 10px;">
						{% for message in messages %}
						{% if message.tags == 'success' %}
						<div style="display:block;" class="alert alert-success">
							{{ message}}
						</div>
						{% elif message.tags == 'error' %}
						<div style="display:block;" class="alert alert-danger">
							{{ message}}
						</div>
						{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			<script>
				let message_ele = document.getElementById("message_container");
					setTimeout(function(){
					   message_ele.style.display = "none";
					  //  message_ele.style.height = '10vh'
					}, 3000);
					// Timeout is 1 sec, you can change it
				</script>

					<div class="row">
						<div class="col-xl-12">
							<div class="card">
								<div class="card-header">

									<h5 class="card-title mb-0">Tasks</h5>
								</div>
								<div class="card-body">
									<table id="datatables-clients" class="table table-striped" style="width:100%">
										<thead>
											<tr>
												<th>number</th>
												<th>requirements_ru</th>
												<th>requirements_uz</th>
												<th>edit</th>
												<th>delete</th>
											</tr>
										</thead>
										<tbody>
										{% for i in active_tasks %}
											<tr>
												<td>{{ i.number }}</td>
												<td>{{i.requirements_ru}}</td>
												<td>{{i.requirements_uz}}</td>
												<td><a href="{% url 'update-task' i.pk %}" class="btn btn-warning"><i class="fas fa-edit"></i></a></td>
												<td><button type="button" class="btn danger" data-toggle="modal" data-target="#deleteModal{{i.id}}"><i class="fas fa-trash"></i></button></td>
													<div class="modal modal-colored modal-warning fade" id="deleteModal{{i.id}}" tabindex="-1" role="dialog" aria-hidden="true">
														<div class="modal-dialog" role="document">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title">Delete modal</h5>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
																		<input type="hidden" name="modal_id" value="{{ i.id }}">
																		<button class="btn btn-danger"><a href="{% url 'delete-task' i.pk %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>Delete</button>
																	</div>
																</div>
															</div>
															</div>
													</div>
												</td>
											</tr>
										{% endfor %}
										</tbody>
									</table>
								</div>
								{% if task.paginator.num_pages > 1 %}
								<div class="card-footer d-flex justify-content-end">
								  <nav aria-label="Page navigation">
									<ul class="pagination">
									  {% if task.has_previous %}
										<li class="page-item">
										  <a class="page-link" href="?page={{ task.previous_page_number }}">
											Previous
										  </a>
										</li>
									  {% endif %}
									  {% for num in task.paginator.page_range %}
									  {% if num == task.number %}
									  <li class="page-item active">
										<a class="page-link" href="#" tabindex="-1">{{ num }}</a>
									  </li>
									  {% elif num > task.number|add:'-2' and num < task.number|add:'2' %}
									  <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
									  {% endif %}
									  {% endfor %}
									  {% if task.has_next %}
									  <li class="page-item">
										<a class="page-link" href="?page={{ task.next_page_number }}">
										  Next
										</a>
									  </li>
									  {% endif %}
									</ul>
								  </nav>
								</div>
							  {% endif %}
							</div>
						</div>
					</div>
				</div>
			</main>

{% endblock content %}
