{% extends 'base.html' %}
{% block content %}
<br>
      <h4>Edit Task</h4>
      <br>
    <form action="" method="post">
      <div class="row mb-5">
        {% csrf_token %}
        <div class="col-xl-2">
          <input type="text" name="requirements_ru" class="form-control" required placeholder="requirements_ru">
        </div>
        <div class="col-xl-2">
          <input type="text" name="requirements_uz" class="form-control" required placeholder="requirements_uz">
        </div>
        <div class="col-xl-2">
          <button class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
{% endblock content %}